@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 214 100% 33%;
    
    --card: 0 0% 100%;
    --card-foreground: 214 100% 33%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 214 100% 33%;
    
    --primary: 214 100% 33%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 39 100% 49%;
    --secondary-foreground: 222 20% 18%;
    
    --muted: 214 20% 95%;
    --muted-foreground: 214 20% 46%;
    
    --accent: 0 0% 95%;
    --accent-foreground: 222 47% 11%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;
    
    --border: 214 20% 85%;
    --input: 214 20% 85%;
    --ring: 214 100% 33%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 214 100% 33%;
    --foreground: 0 0% 95%;
    
    --card: 214 100% 33%;
    --card-foreground: 0 0% 95%;
    
    --popover: 214 100% 33%;
    --popover-foreground: 0 0% 95%;
    
    --primary: 0 0% 95%;
    --primary-foreground: 214 100% 33%;
    
    --secondary: 39 100% 49%;
    --secondary-foreground: 0 0% 95%;
    
    --muted: 214 28% 17%;
    --muted-foreground: 214 11% 65%;
    
    --accent: 39 100% 49%;
    --accent-foreground: 0 0% 95%;
    
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 95%;
    
    --border: 214 28% 17%;
    --input: 214 28% 17%;
    --ring: 0 0% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}